.avatar {
  position: relative;
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin-right: 12px;
  width: 120px;
}
.avatar .border {
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.4);
  fill: none;
}
.avatar .badge {
  position: absolute;
  right: 7px;
  bottom: 7px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
